<h3>RSA Example</h3>
Public key: <%= @pub_key %><br/><br/<br/>
Private key: <%= @pri_key %><br/><br/><br/>
Encrypted msg: <%= @enc %> (using public key to encrypt)<br/><br/>
Decrypted msg: <%= @dec %> (using private key to decrypt)
