/* ...
*= require_self
*= require_tree .
*/

html { 
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font: 11px verdana, sans-serif;
}

// 0u11Tw0w0w0w0 id http://colorschemedesigner.com/#

#container { 
  height: 100%;
  width: 960px;
  margin: 0 auto;
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#menu
{
  width: 100%;
  height: 50px;
  background:#333;
}

#menu a {
  float: left;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  line-height: 50px;
}

#menu a:hover {
  background: #000000;
  color: #ffffff;
}

#content {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

#main {
    float: left;
    padding: 0px 0px 20px 12px;
    background: #fff;
    width: 70%;
    min-height: 100%;
    
}

#main h3 {
  font-size: 14px;
  font-weight: normal;
}

#sidebar {
    width: 25%;
    float: right;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 8px;
    border-left: 1px;
    border-left-style: dotted;
    border-color: gray;
    min-height: 100%;
}

#menu, .left {
  float: left;
}

#menu, .right {
  float: right;
  padding-right: 5px;
  line-height: 50px;
}

#footer {
  background: #333;
  height: 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: #334;
  position: relative;
  bottom: 0;
  width: 960px;
}

.clear_container {
  clear: both;
}

